.page_contact {
    position: relative
}

.page_contact .left_contact,
.page_contact .right_contact {
    margin-bottom: 40px
}

.page_contact .left_contact.left_contact,
.page_contact .right_contact.left_contact {
    margin-bottom: 0
}

.page_contact .iFrameMap {
    display: block
}

.page_contact .iFrameMap iframe {
    width: 100%;
    height: 457px;
    display: block
}

.page_contact .a-center {
    text-align: center
}

.page_contact .title_page {
    font-size: 26px;
    position: relative;
    text-align: center;
    font-weight: 700;
    margin: 30px 0;
    color: var(--text-color);
    display: block
}

@media (max-width: 991px) {
    .page_contact .title_page {
        margin: 0 0 30px
    }
}

.page_contact .single-contact {
    padding: 30px 10px;
    border: 1px solid #e4e4e4;
    text-align: center;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

@media (max-width: 991px) {
    .page_contact .single-contact {
        margin-bottom: 30px
    }
}

.page_contact .single-contact:hover {
    border-color: var(--hover)
}

.page_contact .single-contact:hover .contact-icon {
    background: var(--hover)
}

.page_contact .single-contact:hover h4 {
    color: var(--hover)
}

.page_contact .single-contact .contact-icon {
    background: #1a1a1a;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    line-height: 52px;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
    width: 50px;
    color: #ffffff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.page_contact .single-contact .contact-icon svg {
    width: 20px;
    height: 20px
}

.page_contact .single-contact h4 {
    font-size: 18px;
    font-family: var(--font-base);
    color: var(--text-color);
    font-weight: 700;
    margin: 0 0 10px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.page_contact .single-contact .content_contact {
    font-family: var(--font-base);
    font-size: 14px;
    line-height: 32px;
    color: var(--text-color);
    text-decoration: none
}

.page_contact .single-contact a:hover {
    color: var(--hover)
}

.page_contact form {
    margin-bottom: 0
}

.page_contact .group_contact .form-group {
    color: var(--text-color);
    margin-bottom: 0;
    padding: 0 15px
}

.page_contact .group_contact .form-group label {
    font-size: 13px;
    font-family: var(--font-base);
    font-weight: 600
}

.page_contact .group_contact .form-group label span {
    color: #cb1c22
}

.page_contact .group_contact .form-group .form-control {
    height: 45px;
    border-radius: 3px;
    background-color: #fff;
    outline: none;
    color: var(--text-color);
    font-size: 14px;
    position: relative;
    padding: 0px 15px;
    border: 1px solid #ebebeb;
    display: block;
    width: 100%;
    color: var(--text-color);
    margin: 0;
    margin-bottom: 20px;
    box-shadow: none
}

.page_contact .group_contact .form-group .form-control::-webkit-input-placeholder {
    color: var(--text-color)
}

.page_contact .group_contact .form-group .form-control::-moz-placeholder {
    color: var(--text-color)
}

.page_contact .group_contact .form-group .form-control:-ms-input-placeholder {
    color: var(--text-color)
}

.page_contact .group_contact .form-group .content-area {
    min-height: 130px;
    border-radius: 3px;
    background-color: #fff;
    padding: 10px 15px;
    outline: none;
    position: relative;
    color: var(--text-color);
    resize: none;
    margin: 0
}

.page_contact .group_contact .form-group input,
.page_contact .group_contact .form-group textarea {
    border-color: #c1c1c1;
    background-color: #fff
}

.page_contact .group_contact .form-group input:focus,
.page_contact .group_contact .form-group textarea:focus {
    border-color: #c1c1c1
}

.page_contact .group_contact .btn-lienhe {
    height: 34px;
    line-height: 34px;
    padding: 0 25px;
    color: #fff;
    background: var(--price);
    border-color: var(--price);
    border-radius: 3px;
    font-family: var(--font-base);
    font-size: 14x;
    font-weight: 400;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
    display: inline-block;
    position: relative;
    margin-top: 20px
}

.page_contact .group_contact .btn-lienhe .fa {
    margin-right: 5px
}

.page_contact .group_contact .btn-lienhe:hover {
    background: #333 !important;
    color: #fff
}

.page_contact label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}

.page_contact label em {
    color: red
}